.App {
  padding:20px;
  text-align: center;
  background: linear-gradient(rgb(227, 192, 255), rgb(187, 187, 253));
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.task-creation-container {}

.global-list-container {
  margin-top:20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}